{% extends "el_basetemplate.html" %}
{% block bodyblock %}
<div class="container">
    <h1>О ПРОЕКТЕ</h1>

    <h2>О паломничестве</h2><p>
    С давних времён паломничество остаётся неотъемлемой частью церковной жизни. Во
    время путешествия к святыне, человек удаляется от суеты, сосредоточивается на самом
    главном, обретая тем самым ценный духовный опыт. В то же время коллективное
    паломничество способствует новым знакомствам с единомышленниками, позволяет
    расширить круг общения и формирует православное братство. Особенно это очень важно
    для новоначальных христиан и для молодёжи. Кроме того, путешествие в новые места
    открывает массу интересного и познавательного, но не стоит забывать, что поездка к
    святыне не просто туризм, а своего рода работа или даже подвиг, который
    сопровождается полезными духовными испытаниями. Искушения во время
    паломничества дают возможность серьёзным образом проверить себя.
    </p>
    <h2>Наши возможности</h2>
    <p>
    Уникальность ресурса заключается в том, что у нас вы найдете исчерпывающую и
    достоверную информацию о паломнических поездках и святынях. Мы поможем
    организовать увлекательное путешествие всем желающим, независимо от опыта веры,
    возраста и социального положения. При организации коллективного паломничества, мы
    учитываем весь спектр потребностей групп. Арсенал наших возможностей включает
    организацию корпоративных поездок, помощь индивидуальному паломнику в выборе
    подходящей группы, решение вопросов по транспорту, размещению и питанию, и многое
    другое. Мы также готовы организовать передачу записок о здравии и поминовении в
        любой поездке.</p><p>
    Наша обширная база данных содержит предложения для паломников от проверенных
    агентств с надёжной репутацией, которые гарантируют комфортные и безопасные
    условия путешествий, профессионализм и высокую компетенцию гидов. Мы исследовали
    опыт ведущих паломнических сервисов, учитывая все недочёты в организации
    коллективных поездок, а также специфику спроса и предложений в этой сфере. Путём
    сравнительного анализа огромного количества предложений, мы регулярно выбираем
    самые увлекательные, насыщенные и нестандартные маршруты. Причём наряду с
    паломническими организациями, мы работаем и напрямую с монастырями и храмами.
    </p>

    <p>
    Обращаем ваше внимание, что во всех наших предложениях питание всегда включено в

    стоимость путешествия (если обратное не указано дополнительно), и мы гарантируем, что

    вся опубликованная на сайте финансовая информация соответствует действительности.
    </p>
    <h2>Планы</h2>
    <p>
    Уже сейчас сервис предоставляет возможность организации электронного бронирования паломнической инфраструктуры епархиальным службам. На первых порах наш ресурс
    предлагает воспользоваться проверенной сетью маршрутов с отправной точкой из Москвы, но в ближайшем будущем мы разместим варианты с возможностью выезда из

    других городов России. Таким образом, мы планируем стать центральным

    координирующим звеном в сфере паломнических услуг.

    </p>

    <h2>Цели</h2>

    <p>Наша информационная система решает одну из распространённых проблем в организации паломнических поездок – мы

    полностью исключаем отмену поездки.  <br />Сложившаяся стандартная практика такова, что при предварительном заказе

    путешествий по предоплате, организатор часто не даёт никаких гарантий, состоится оно

    или нет. Ведь большинство служб, следуя принципу рентабельности, реализуют маршрут

    только по факту формирования группы. Это происходит в основном при выборе не столь

        «раскрученных», но, в то же время, не менее интересных маршрутов.</p>
<br /><p>
    Наша команда искренне заинтересована в том, чтобы любое паломническое путешествие

    принесло вам духовную пользу и незабываемые впечатления.</p>


</div>
{% endblock  %}