<!-- Yandex.Metrika counter -->
{% if mainmenu.type<>"debug" %}

<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter44330602 = new Ya.Metrika({
                    id:44330602,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/44330602" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<script type="text/javascript">
    function showPointDescr(event){
        console.log(event);
        /*
        var data=window.loadedpointinfo;
        if (data)
        {
            var qtt=document.getElementById("elpointinfo");
            line="";
            if (data.shrine.descr) line=line+data.shrine.descr+" ";
            if (data.shrine.desc_short) line=line+data.shrine.desc_short+" ";
            if (data.shrine.avatar) line=line+"<br /><img width=400 src='"+data.shrine.avatar+"'/>";
            qtt.innerHTML=line;
            var  qp_header=document.getElementById(event.target.id);
            qp_header.innerText=data.shrine.name;
        }*/
    }
</script>
<!-- /Yandex.Metrika counter -->{% endif %}
    <div id="root" ></div>




<!--                    <button class="btn btn-info ticket">Мои билеты</button>-->





<!--->
