<a id="dLabel" type="button" data-toggle="dropdown"
   href="#">Все
    про поездки <span class="caret"></span></a>
<ul class="dropdown-menu" aria-labelledby="dLabel">
    <li><a href="/palomnik/schedule">Расписание</a></li>
    <li><a href="/palomnik/tours/palomnik">По России</a></li>
    <li><a href="#">Мир</a></li>
    <li><a
                href="/palomnik/addtour">Предложить поездку</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/">Храмам</a></li>
    <li><a href="#">Агентствам</a></li>
    <li><a href="#">Туроператорам</a></li>
    <li><a
                href="#">Владельцам гостиниц</a></li>
    <li><a
                href="#">Организаторам поездок</a></li>
    <li><a
                href="#">Гидам-сопровождающим</a></li>


</ul>