<a id="dLabel" type="button" class="hidden-xs" data-toggle="dropdown"
    href="#">Все
    про поездки <span class="caret"></span></a>
<ul class="dropdown-menu" aria-labelledby="dLabel">
    <li><a href="/palomnichestvo/schedule">Расписание</a></li>
    <li><a href="/palomnichestvo/tours">По России</a></li>
    <!--<li><a href="#">Мир</a></li>-->
    <li><a
            href="/palomnichestvo/addtour">Предложить поездку</a></li>
    <li role="separator" class="divider"></li>
<!--    <li><a href="/">Храмам</a></li>
    <li><a href="#">Агентствам</a></li>
    <li><a href="#">Туроператорам</a></li>
    <li><a
            href="#">Владельцам гостиниц</a></li>
    <li><a
            href="#">Организаторам поездок</a></li>
    <li><a
            href="#">Гидам-сопровождающим</a></li>-->
    <li><a
            href="/palomnichestvo/points">Святыни России</a></li>


</ul>

<!--<div aria-labelledby="dLabel" class="dropdown-menu" >
        <div class="menu">
            <div class="wall col-md-8" style="padding:10px; ">
                <div class="row">
                    <div class="table" style="padding:20px">
                        <div class="row">
                            <div class="col-md-3">
                                <div><span class="mheader">Сотрудничество:</span>
                                <ul class="dropdown-menu">
                                    <li><a href="/">Храмам</a></li>
                                    <li><a href="#">Агентствам</a></li>
                                    <li><a href="#">Туроператорам</a></li>
                                    <li><a
                                            href="#">Владельцам гостиниц</a></li>
                                    <li><a
                                            href="#">Организаторам поездок</a></li>
                                    <li><a
                                            href="#">Гидам-сопровождающим</a></li>
                                </ul>
                                </div>

                        </div>
                        <div class="col-md-3"><span class="mheader">Организация "по запросу"</span>
                            <ul>
                                <li><a href="#">Заявка на индивидуальную поездку</a></li>
                                <li><a href="#">Транспорт</a></li>
                                </ul>
                          </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>-->