{% extends "el_basetemplate.html" %}

{% block bodyblock %}
{% set a=0 %}
    <div class="container"><div class="row">
        {% for sline in arr %}
        {% set a=a+1 %}{% if a==4 %} {% set a=1 %}<div class="row">{% set opened=true %}{% endif %}
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 noa">
            <div class="thumbnail " style="">
                <div style="min-height:10px" class="caption">
                    <div class="row">
                        <span class="p15"><img src="/palomnichestvo/imgi/{{sline.flagurl}}" vspace="2"/> <span class="lh22center">{{sline.countryname}}{% if sline.id*sline.cv>0 %} - {{sline.cname}}{% endif%}</span></span>
                    </div>
                    <h3 >{{sline.name}}{% if (sline.name)|length<30%}<br class="hidden-xs hidden-md hidden-sm"/><br class="hidden-xs hidden-md hidden-sm"/> {% endif %}</h3>
                </div>
                <a href="/palomnichestvo/sp/{{sline.surl}}{{sline.tname}}">
                    {% if sline.pname|length>0  %} <img src="/palomnichestvo/img/{{sline.thumb}}" class="img-responsive  " alt="...">{% endif %}
                    {% if sline.descr|length>0  %}
                    <div class="gdesc"></div>
                    <div class="gdesc2">{{sline.descr|raw}}</div>{% endif %}
                </a>
                <div class="text-center" style="padding:20px"><a href="/palomnichestvo/sp/{{sline.surl}}{{sline.tname}}"
                                                                 role="button"
                                                                 class="btn btn-info">Подробнее</a></div>
            </div>
        </div>
        {% if a==3%}</div>{% set opened=false %}{% endif %}
        {% endfor %}
        {% if opened%} </div>{%endif %}
    </div>
</div>
{% endblock %}