<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Lobster&amp;subset=cyrillic" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
<table border="0" style="background-color: #6bb012;" width="50%">
    <tr><td colspan=2 style="background-color: #6bb012;text-align:center"><br /><img src="https://s3-eu-west-1.amazonaws.com/elitsy/static/images/logo-small.png" /><!--<br /><span style="color:white;font-family:Lobster">Паломничество</span>--></td></tr>
    <tr><td colspan=2 style="background-color: #6bb012;vertical-align:top;text-align:center;color:white;font-family:Lobster"><h1>Паломническая поездка </h1></td></tr>

    <tr><td><img src="/palomnichestvo/img/order{{orderid}}.png" width="200"/></td>
        <td style="background-color:white;width:100%;vertical-align:top; padding-top:15px">{{res.tourdata.title}}.<br />Дата: {{res.tourdata.date}}<br /><b>{{res.tourdata.comment}}</b><br />Полная стоимость:{{res.tourdata.psum}} руб.
            {% if res.tour_reserves|length>0 %}<table>
                {% for line in res.tour_reserves  %}
                <tr><td>{{line.fio}}</td></tr>
                {% endfor %}
                {% endif %}</table>

            {% if res.tour_services|length>0 %}<table>
                {% for line in res.tour_services  %}
                <tr><td>{{line.title}}: {{line.value}}</td></tr>
                {% endfor %}
                {% endif %}</table>
        </td>

    </tr>


</table>

</body>
</html>