<a id="dLabel" type="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false" href="#">Все
    поездки <span
            class="caret"></span></a>
<div aria-labelledby="dLabel" class="dropdown-menu">
    <div class="container">
        <div class="wall col-md-12" style="padding:10px">
            <div class="row">
                <div class="table" style="padding:20px">
                    <div class="row">
                        <div class="col-md-3"  >
                            <div><span class="mheader">По России:</span> <ul><li><a href="#">Дивеево</a></li><li><a href="#">Оптина Пустынь</a></li><li> <a
                                    href="#">Годеново</a></li><li><a href="#">Сергиев Посад</a></li></ul><a href="/points">Все
                                города &gt;&gt;</a></a></div>
                            <div>Редкие поездки: <a href="#">Дивеево</a> <a href="#">Кадом</a>  <a href="#">Сергиев Посад</a> <a href="#">Все
                                поездки</a></a></div>
                        </div>
                        <div class="col-md-3"><span class="mheader">За границу</span><ul><li><a href="#">Израиль</a></li><li><a href="#">Иордания</a></li><li><a href="#">Греция</a></li><li>
                            <a href="#">Афон</a></li><li><a href="#">Кипр</a></li><li><a href="#">Италия</a></li></ul><a
                                href="#">Все страны</a></a>
                        </div>
                        <div class="col-md-3"><span class="mheader">Горные походы, крестные ходы, волонтерские выезды</span><ul><li><a href="#">Златоуст 2017</a></li></ul>
                        </div>

                        <div class="col-md-3"><span class="mheader">Святыни</span><ul><li><a href="#">Златоуст 2017</a></li></ul>
                        </div>

                    </div>


                </div>
            </div>
        </div>