<li class="hidden-sm hidden-lg hidden-md"><a href="/palomnichestvo/tours">Все поездки по России</a></li>
<li class="hidden-sm hidden-lg hidden-md"><a style="width:130px; " href="/palomnichestvo/points/">Города</a></li>
<li class="hidden-sm hidden-lg hidden-md"><a style="width:130px; " href="/palomnichestvo/sp/">Монастыри</a></li>
<li class="hidden-sm hidden-lg hidden-md"><a style="width:130px; " href="/palomnichestvo/schedule">Расписание</a></li>
<li class="hidden-sm hidden-lg hidden-md" ><Button onclick="window.opener.showUCab()">Личный кабинет </Button></li>