<title>{{ seo["title"]}}</title>
<meta name="keywords" value='{{ seo["metakeywords"]}}' />
<meta name="description" value='{{ seo["metadescription"]}}' />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style type="text/css" src="/css/bootstrap.min.css" ></style>
<style type="text/css" src="/css/bootstrap-theme.min.css" ></style>
<script type="text/javascript" src="/js/jquery-3.1.1.slim.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js" ></script>


<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="http://vk.com/js/api/openapi.js?136"></script>

<script type="text/javascript">
    VK.init({apiId: 5775015});
</script>


